/* You can add global styles to this file, and also import other style files */

#documentEditorContainer {
  height: 800px;
}

@media (max-width:350px) {
  .vsui-button.vsui-goToFirstPageButton {
    visibility: hidden;
    width: 0px;
  }
  .vsui-button.vsui-goToLastPageButton {
    visibility: hidden;
    width: 0px;
  }
}
@media (min-width:350px) {
  .vsui-button.vsui-goToFirstPageButton {
    visibility: visible;
    width: 32px;
  }
  .vsui-button.vsui-goToLastPageButton {
    visibility: visible;
    width: 32px;
  }
}

@media (min-height:400px) {
  #documentEditorContainer {
    height: 350px;
  }
}

@media (min-height:500px) {
  #documentEditorContainer {
    height: 450px;
  }
}

@media (min-height:600px) {
  #documentEditorContainer {
    height: 550px;
  }
}

@media (min-height:700px) {
  #documentEditorContainer {
    height: 650px;
  }
}

@media (min-height:800px) {
  #documentEditorContainer {
    height: 750px;
  }
}

@media (min-height:900px) {
  #documentEditorContainer {
    height: 850px;
  }
}

@media (min-height:1000px) {
  #documentEditorContainer {
    height: 950px;
  }
}

@media (min-height:1100px) {
  #documentEditorContainer {
    height: 1050px;
  }
}

@media (min-height:1200px) {
  #documentEditorContainer {
    height: 1150px;
  }
}

@media (min-height:1300px) {
  #documentEditorContainer {
    height: 1250px;
  }
}

@media (min-height:1400px) {
  #documentEditorContainer {
    height: 1350px;
  }
}

@media (min-height:1500px) {
  #documentEditorContainer {
    height: 1450px;
  }
}

@media (min-height:1600px) {
  #documentEditorContainer {
    height: 1550px;
  }
}

h1 {
  text-align: center;
  font-size: 20px;
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.modalDialogBodyContent {
  max-height: 70vh;
  overflow-y: auto;
}
